<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">

  <%- include('../partials/header', {pagina: 'sobre'}); %>

  <main>
    <div class="jumbotron">
      <h1>Sobre mim</h1>
      <p>salve salve, sou o heitor, conhecido tambem como hugo, hugostosao do terminal de siqueira</p>
    </div>
  </main>

  <%- include('../partials/footer'); %>


</body>
</html>